/*these are the apporved styles for the site <!--Ellie Slighting 12/16/2021-->
*/

.homebg {background-color: rgb(248, 236, 246);}
.edubg {background-color: rgb(226, 210, 205);}
.expbg {background-color: rgb(218, 226, 230);}
.skibg {background-color: rgb(236, 233, 250);}
.aboutbg {background-color: rgb(245, 224, 224);}

.aboutmefont {color:  rgb(245, 224, 224);}
.aboutmetext {text-align: center;}
.homefont {color: rgb(248, 236, 246);}
.homeunderline {text-decoration: underline;}
.video {text-align: center;}